body {
    background-color: #DBD1CA;
    font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2B1E15;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #DBD1CA;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 16px;
    letter-spacing: 1px;
}

nav a:hover {
    background-color: #4D3626;
    color: #DBD1CA;
    font-weight: bold;
}

.welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #2B1E15;
    font-family: Garamond, Georgia, serif;
    font-size: 50px;
    margin: 300px  0 0 0;
    
}

.welcome-section p {
    color: #6F4E37;
    font-size: 20px;
    margin: 0;
}
nav a i {
    margin-right: 8px;
    font-size: 16px;
}

nav a:hover i {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.video-item {
        width: 500px;
        height: 300px;
        display: block; 
        margin: 0 auto;
        max-width: 100%;
        object-fit: cover; 
    }

