body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Tahoma, Verdana;
    background-color: #DBD1CA;
    color: #090604;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #4D3626;
    color: #DBD1CA;
}

.header h1 {
    font-size: 50px;
    margin: 0;
}


nav {
    background-color: #2B1E15;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #DBD1CA;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    
}

nav ul li a:hover {
    background-color: #DBD1CA;
    color: #090604;
    border-radius: 5px;
}

