body{
    background-color:#DBD1CA;
    font-family:Trebuchet MS, Tahoma, Verdana;
    color:#2B1E15;
  }
  
  h1{ 
    font-family: Georgia, Garamond, Didot; 
    text-shadow: 2px 2px 6px;
    
  }
  
  h3{
    font-family: Garamond;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px 6px;
    background-color: #2B1E15;
    color: #DBD1CA;
  }
  p{
    line-height: 1.6;
  }