body {
  background-color: #DBD1CA;
  font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
  color: #2B1E15;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-family: Georgia, Garamond, serif;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #2B1E15;
  color: #DBD1CA;
  padding: 20px;
  margin: 0;
  text-align: center;
  font-size: 50px;
  border-radius: 5px;
}

h2 {
  font-family: Garamond, Georgia, serif;
  color: #2B1E15;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  border-radius: 5px;
}

h3 {
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #2B1E15;
  color: #DBD1CA;
  font-family: Georgia, Garamond, serif;
  border-radius: 5px;
}

p {
  line-height: 1.6;
  text-align: justify;
}

nav {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

nav a, a {
  color: #2B1E15;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  color: #DBD1CA;
  font-weight: bold;
  background-color: #4D3626 ;
  border-radius: 5px;
}

nav a:focus, a:focus{
  outline: 3px solid #2B1E15 ; 
  outline-offset: 2px; 
  background-color: #4D3626;
  color: #DBD1CA;
  border: 2px solid #4D3626;
  font-weight: bold;
  border-radius: 5px;

}

div {
  margin: 0;
  padding: 20px;
}

.top{
  text-align: center;
}

.top a {
  padding: 10px 20px;
  background-color: #2B1E15;
  color: #DBD1CA;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 20px;
  border: 2px solid #2B1E15;
}

.top a:hover {
  background-color: #4D3626;
  color: #DBD1CA;
  padding: 10px 20px;
  border: 2px solid #4D3626;
  font-weight: bold;
}
.top a:focus {
  outline: 3px solid #2B1E15 ; 
  outline-offset: 2px; 
  background-color: #4D3626;
  color: #DBD1CA;
  border: 2px solid #4D3626;
  font-weight: bold;
}
.top a:active {
  background-color: #6B4F3A;
  border: 2px solid #6B4F3A;
}

.photo-gallery a:focus{
  outline: none;
  background-color: none;
}

.photo-gallery :active{
  background-color: none;
}

.photo-gallery {
  margin: 20px 0;
  display: inline-block;
  padding: 0;
  background: none;
 
}

.photo-gallery a:hover {
  background-color: none;
  border: none;
}

.photo-gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

}

.photo-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}